html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#941b1b, #4f4192); /* Fondo degradado */
    background-repeat: repeat-y; /* Repite el fondo verticalmente */
    background-size: 100% 1000%; /* Ajusta el tamaño del degradado */
    display: flex;
    flex-direction: column;
}

header,
footer{
    background-color: rgb(3, 3, 3);
    color: rgb(103, 166, 166);
    text-align: center;
    padding: 10px;
    font-size: medium;
}

main{
    flex: 1; /* Ocupa el espacio disponible para empujar el footer hacia abajo*/
    padding: 30px;
    text-align: center;
}

.contenedor1{
    color: rgb(33, 33, 171);

}

.IMAGEN{
    text-align: center; /* Centrar la imagen */
 }
 .IMAGEN2{
    text-align: center; 
 }



